<footer class="site-footer">
    <p>&copy; {{author.year}} {{uppercase author.name}}</p>
    <p>Generated with Grimoire</p>
    {{#if baseUrl}}
        <p><a href="{{baseUrl}}/privacy">Privacy Policy</a></p>
    {{/if}}
</footer>
